gunicorn==20.1.0
Flask==2.1.0
numpy==1.23.2
pandas==1.5.3
scikit-learn==1.2.2
streamlit==1.4.0
itsdangerous==2.1.2
jinja2==3.1.2
Werkzeug==2.3.6
protobuf==3.20.0
altair==4.2.2
click==8.0.4
Pillow==9.4.0
pyarrow==12.0.1
scipy==1.11.1
wheel==0.38.4